body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout > * {
  padding: 1rem;
}

.page-body {
  flex-grow: 1;
}

.layout > header {
  background-color: rgb(6, 95, 219);
  color: white;
}

.logo-icon {
  height: 40px;
  width: auto;
  margin-right: 0.5rem;
}

.layout > footer {
  background-color: rgb(56, 56, 56);
  color: white;
}

.form-card {
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  display: flex;
  overflow: hidden;
}
.form-card > .yumurta-sepeti {
  min-width: 40%;
  background-image: url("./assets/sepet-yumurta.png");
  background-position: center;
}
.form-card > .form-container {
  padding: 5rem;
  flex-grow: 1;
}

.contact-form-bg {
  min-width: 50%;
  background-color: #90cdf1;
  background-image: url("./assets/contact.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.login-form-bg {
  min-width: 50%;
  background-image: url("./assets/login-form-bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
  color: #438bba;
}
.login-form-bg a {
  text-decoration: none;
  color: #0074c2;
  font-weight: bold;
}

.sticky {
  width: 150px;
  height: 50px;
  background-color: yellow;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
}

.products-container > .card {
  flex-grow: 1;
  flex-basis: 18rem;
}

.products-container > .product-card {
  flex-basis: 300px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.product-card > img {
  width: 100%;
}

.form-error {
  color: red;
  font-size: 0.75rem;
}

input.error {
  border-color: red;
  border-width: 1px;
}

footer {
  background-color: #f8f8f8;
  padding: 20px;
}

footer nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin: 10px 0;
  color: #bababa;
  margin-bottom: 1rem;
}
footer li:hover {
  color: #fff;
}

footer a {
  color: #eb6200;
  text-decoration: none;
}

footer a:hover {
  color: #f07720;
  text-decoration: underline;
}

nav.navbar {
  background-color: #ec6300;
  border-bottom: 2px solid #ff8302;
}

nav.navbar .nav-link {
  font-weight: 500;
}

h1.page-title {
  font-size: 1.25rem;
  color: #ec6300;
  font-weight: bold;
  margin-bottom: 2rem;
}

.navbar-brand {
  font-weight: bolder;
}

.login-form {
  max-width: 500px;
}

.color-orange {
  color: #ec6300;
}
